.route-editor-wrapper * {
    padding: 0;
}

.route-editor-wrapper {
    --route-editor-bg-color: #282B37;
    --route-editor-font-primary-color: #ffffff;
    --route-editor-header-description-color: #c2c5cb;
    --route-editor-participate-list-bg-color: #434757;
    --route-editor-participate-list-arrrow-button-bg-color: #363A4B;
    --route-editor-selection-color: #4185F4;
    --route-editor-participate-button-bg-color: #333644;
    --route-editor-participate-button-border-color: #485066;
    --route-editor-chart-bg-color:#383B4C;
    --route-editor-chart-grid-first-line-color: #7C838F;
    --route-editor-chart-grid-lines-color: #525761;
    --route-editor-footer-button-bg-color: #6C768D;
    --route-editor-footer-button-hover-bg-color: #568be1;
    --route-editor-footer-dropdown-label-color: #B0B8C6;
    --route-editor-footer-dropdown-arrow-color: #939dba;
    --route-editor-footer-dropdown-options-bg-color :#383B4C;
    --route-editor-footer-dropdown-option-border-color: #5C6073;

    --route-editor-header-height: 4rem;
    --route-editor-participate-list-height: 4.9rem;
    --route-editor-chart-height: 30rem;
    --route-editor-footer-height: 6.5rem;
    --route-editor-elements-height: calc(
                                        var(--route-editor-header-height) + 
                                        var(--route-editor-participate-list-height) + 
                                        var(--route-editor-footer-height)
                                    );


    background-color: var(--route-editor-bg-color);
    color: var(--route-editor-font-primary-color);

    min-width: 58rem;
    position: fixed;
    top: calc(var(--touch-header-height, 5rem) + 1rem);
    right: calc(var(--touch-left-menu-width, 10rem) + 1.5rem);
    transform-origin: top right;
    border-radius: 1rem;
    font-size: 1.4rem;
    resize: both;
    overflow: auto;
    min-height: 45.4rem;
}

.react-select-menu-open {
    resize: initial;
    overflow: initial;
}

/*----------------------------------------------------- Header --------------------------------------*/
.route-editor-header {
    height: var(--route-editor-header-height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 1.5rem;
    user-select: none;
    cursor: all-scroll;
}

.route-editor-header-description {
    color: var(--route-editor-header-description-color);
}

.route-editor-header-close-button {
    height: 1.4rem;
    width: 1.4rem;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
}

.route-editor-header-close-icon {
    height: 100%;
    width: 100%;
}


/*----------------------------------------------------- Particiaptes List --------------------------------------*/
.route-editor-participate-list-wrapper {
    background: var(--route-editor-participate-list-bg-color);
    padding: 0.5rem;
    height: var(--route-editor-participate-list-height);
}

.route-editor-participate-list-content {
    background: var(--route-editor-bg-color);
    border-radius: 0.7rem;
    position: relative;
    align-items: center;
    overflow: hidden;
}

.route-editor-participate-list-right-arrrow-button,
.route-editor-participate-list-left-arrrow-button  {
    position: absolute;
    height: 3rem;
    width: 3rem;
    background-color: var(--route-editor-participate-list-arrrow-button-bg-color);
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.route-editor-participate-list-right-arrrow-button:active,
.route-editor-participate-list-left-arrrow-button:active,
.route-editor-footer-zoom-button:active,
.route-editor-footer-action-button:active,
.route-editor-footer-zoom-button.route-editor-footer-zoom-button-active {
    background-color: var(--route-editor-selection-color);
}

.route-editor-participate-list-right-arrrow-button {
    right: 0.7rem;
}

.route-editor-participate-list-left-arrrow-button {
    left: 0.7rem;
}

.route-editor-participate-list-right-arrrow-icon,
.route-editor-participate-list-left-arrrow-icon {
    height: 1.8rem;
}


.route-editor-participate-list-right-arrrow-icon {
    transform: rotate(0.25turn);
}
.route-editor-participate-list-left-arrrow-icon {
    transform: rotate(0.75turn);
}

.route-editor-participates-buttons {
    padding: 0 4.5rem;
    display: flex;
    transform: translateX(0);
    position: relative;
}

.route-editor-participates-buttons::before,
.route-editor-participates-buttons::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 5.5rem;
    z-index: 1;
    pointer-events: none;
}

.route-editor-participates-buttons::before {
    left: 0;
    background: linear-gradient(to right, var(--route-editor-bg-color) 60%, transparent);
}

.route-editor-participates-buttons::after {
    right: 0;
    background: linear-gradient(to left, var(--route-editor-bg-color), transparent);
}

.route-editor-participates-buttons-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

.route-editor-participates-button {
    height: 2.5rem;
    min-width: 8rem;
    max-width: 8rem;
    border: 0.1rem solid var(--route-editor-participate-button-border-color);
    background-color: var(--route-editor-participate-button-bg-color);
    border-radius: 0.5rem;
    margin: 0.7rem 0;
    font-size: inherit;
    color: #7C838F;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 0.7rem;
    transition: background-color 0.3s ease;
}

.all-participates-button {
    justify-content: center;
}

.route-editor-participates-button.participates-button-selected {
    background-color: var(--route-editor-selection-color);
    color: var(--route-editor-font-primary-color);
    border-color: transparent;
}

.route-editor-participates-button-color-point {
    min-height: 0.8rem;
    min-width: 0.8rem;
    background: transparent;
    border: 1px solid var(--route-editor-font-primary-color);
    box-shadow: 0 0 6px 0 #000000;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.6rem;
    margin-right: 0.7rem;
}

.route-editor-participates-button-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*----------------------------------------------------- Chart ---------------------------------------*/

.route-editor-chart-wrapper {
    min-height: var(--route-editor-chart-height);
    height: calc(100% - var(--route-editor-elements-height));
}

canvas#route-editor-canvas {
    background-color: var(--route-editor-chart-bg-color);
}

/*----------------------------------------------------- Footer --------------------------------------*/
.route-editor-footer {
    height: var(--route-editor-footer-height);
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.route-editor-footer-right-buttons{
    height: 100%;
    display: flex;
    align-items: center;
}

.route-editor-footer-zoom-wrapper {
    display: flex;
    border-inline-end: 0.1rem solid rgba(255,255,255,0.1);
    height: 100%;
    align-items: center;
    margin-inline-end: 2rem;
}

.route-editor-footer-zoom-button {
    height: 2.4rem;
    width: 2.4rem;
    border: none;
    background-color: var(--route-editor-footer-button-bg-color);
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    transition: background-color 0.6s ease;
}

.route-editor-footer-zoom-button:last-child {
    margin-inline-end: 2.5rem;
    margin-inline-start: 1rem;
}

.route-editor-footer-zoom-out-icon,
.route-editor-footer-zoom-in-icon {
    height: 1.5rem;
}

.route-editor-footer-reset-zoom-icon,
.route-editor-footer-hide-points-icon {
    height: 1.8rem;
}

.route-editor-footer-dropdown-wrapper {
    display: flex;
    align-items: center;
}

.route-editor-footer-dropdown-content {
    display: flex;
    align-items: center;
}

.route-editor-footer-dropdown-icon-img {
    height: 1.8rem;
    margin: 0 1rem;
}

.route-editor-footer-dropdown-label {
    color: var(--route-editor-footer-dropdown-label-color);
    font-size: 1.4rem;
}

/* ---------------------------------------------------   react-select start  ----------------------------------- */

.route-editor-footer-dropdown-content .Select__container {
    height: 100%;

}

.route-editor-footer-dropdown-content .Select__container .Select__control {
    height: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    box-shadow: unset;
    width: 7rem;
}

.route-editor-footer-dropdown-content .Select__container .Select__control .Select__value-container .Select__single-value {
    max-width: 100%;
    color: var(--route-editor-font-primary-color);
    font-size: 1.4rem;
}

.route-editor-footer-dropdown-content .Select__container .Select__control .Select__indicators .Select__indicator {
    width: 2rem;
    height: 2rem;
    position: absolute;
    padding: 0;
    top: 4px;
}

.Select__indicator-separator {
    display: none;
}
.route-editor-footer-dropdown-content .Select__container .Select__control .Select__value-container {
    margin: 0;
    height: 100%;
    outline: none;
}

.route-editor-footer-dropdown-content .Select__container .Select__control .Select__value-container > input{}

.route-editor-footer-dropdown-content .Select__container .Select__control .Select__value-container:focus-within {}

.route-editor-footer-dropdown-content .Select__container .Select__control .Select__indicators .Select__indicator svg {
    fill: var(--route-editor-footer-dropdown-arrow-color);
}

.route-editor-footer-dropdown-content .Select__container .Select__menu {
    border-radius: 1rem;
    padding: 0;
    margin: 0;
    background-color: var(--route-editor-footer-dropdown-options-bg-color);
}

.route-editor-footer-dropdown-content .Select__container .Select__menu-list {
    background-color: var(--route-editor-footer-dropdown-options-bg-color);
    border: 0;
    height: 100%;
    width: max-content;
    border-radius: 1rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.20);
    /*cursor: pointer;*/
    margin: 0;
    padding: 0;
}

.route-editor-footer-dropdown-content .Select__container .Select__menu-list .Select__option {
    color: var(--route-editor-font-primary-color);
    background-color: var(--route-editor-footer-dropdown-options-bg-color);
    height: 5rem;
    width: 14rem;
    font-size: 1.4rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    cursor: pointer;
    position: relative;
}

.route-editor-footer-dropdown-content .Select__container .Select__menu-list .Select__option::before {
    content: '';
    position: absolute;
    height: 100%;
    width: calc(100% - 3rem);
    border-bottom: 1px solid var(--route-editor-footer-dropdown-option-border-color);
    z-index: 1;
}

.route-editor-footer-dropdown-content .Select__container .Select__menu-list .Select__option:last-child:before {
    display: none;
}

.route-editor-footer-dropdown-content .Select__container .Select__menu-list .Select__option:hover {
    background-color: #4185f43b;
}

.route-editor-footer-dropdown-content .Select__container .Select__menu-list .Select__option:last-child {
    border-bottom: 0;
}

.route-editor-footer-dropdown-content .Select__container .Select__menu-list .Select__option--is-selected,
.route-editor-footer-dropdown-content .Select__container .Select__menu-list .Select__option--is-selected:hover{
    color: var(--route-editor-font-primary-color);
    position: relative;
    right: 0;
    left: 0;
    padding: 0 3rem;
    background-color: var(--route-editor-selection-color);
    border: transparent;
}

.route-editor-footer-dropdown-content .Select__container .Select__menu-list .Select__option--is-disabled {
    opacity: 0.2;
    pointer-events: none;
    cursor: default;
}

/* ---------------------------------------------------   react-select end  ----------------------------------- */
.route-editor-footer-left-buttons {
    display: flex;
}

.route-editor-footer-action-button {
    height: 2.4rem;
    width: 2.4rem;
    border: none;
    background-color: var(--route-editor-footer-button-bg-color);
    border-radius: 0.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    transition: background-color 0.6s ease;
}
.route-editor-footer-action-button:hover,
.route-editor-footer-zoom-button:hover {
    background-color: var(--route-editor-footer-button-hover-bg-color);
}

.route-editor-footer-action-button.plan-action-button {
    width: max-content;
    font-size: 1.6rem;
    color: inherit;
    padding-left: 0.8rem;
    padding-right: 0.5rem;
}

.route-editor-footer-action-buttons.route-editor-footer-left-buttons-disable,
.plan-action-button.plan-action-button-disable {
    opacity: 0.3;
    pointer-events: none;
    cursor: initial;
}

.route-editor-footer-action-buttons {
    display: flex;
}